
.container{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.container div:first-child{
    padding: 2em;
    background-color: brown;
}

.container div:last-child{
    padding: 2em;
    background-color: blue;
}